body {
    margin: 0;

    box-sizing: border-box;
}

nav {
    background-color: rgb(9, 3, 63);
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li a {
    font-size: 1.4rem;
    color: darkorange;
    text-decoration: none;
    padding: 1rem;
    display: block;
}

nav ul li a:hover {
    background-color: orange;
    color: rgb(128, 83, 0);
}

.footer {
    position: fixed;
    padding-bottom: 20%;
}
